.navbar-container {
    display: flex;
    min-height: 50px;
    background-color: #114B5F;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 30px;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.homepage, .about, .projects, .contact {
    flex: 1 100%;
    display: flex;
    justify-content: center;
    color: #E2DADB;
    
    text-decoration: none;
    font-weight: bold;
}

@media all and (max-width: 800px) {
    .navbar-container{flex-direction: column;}
  }

.navbar-container:first-child > span { margin-right: auto; }

.navbar-container  > span { margin-left: auto;  }


